InstructorName = Benjamin Schmidt
Institution = Northeastern University
CourseNumber = HIS 
CourseTitle = History in a Digital Age
OfficeHours = Monday 3pm-5pm, 219 Meserve Hall; or by appointment
Email = bschmidt@neu.edu
Semester = Spring 2014
ZoteroLibraryCode = 3G43MVHQ